<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div id="search">
    <input type="text" v-model="keyword">
    <ul>
      <li v-for="item in filteredItems" :key="item.name">{{ item.name }}</li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#search',
      data() {
        return {
          keyword: '',
          items: [{
              name: '鈴木'
            },
            {
              name: '田中'
            },
            {
              name: '佐藤'
            },
            {
              name: '山田'
            },
            {
              name: '中村'
            },
          ]
        }
      },
      computed: {
        filteredItems() {
          let items = [];
          for (let i in this.items) {
            let item = this.items[i];
            if (item.name.indexOf(this.keyword) !== -1) {
              items.push(item);
            }
          }
          return items;
        }
      },
    })
  </script>
</body>

</html>